@charset "UTF-8";



.conteiner{
    display: flex;
    background-color: brown;
    flex-flow: row wrap; /* <-- para simplificar */
    height: 400px;
    justify-content: center;

}

.item{
    
    background-color: rgb(255, 106, 0);
    text-align: center;
    padding:10px;
    align-content: center;
    color: aliceblue;
    border: 1px solid black;

}