@charset "UTF-8";

/*TODOS OS OUTROS ESTILOS */

/* tipical devices breakpoint 

celular : 600px ate 768px
tablet:7698px ate 992px
computador: 992px ate 1200px
tv: acima de 1200px


*/ 
@media print{

}

@media screen and (min-width:768px) and (max-width:992px) {

    body{
        background-image: url(back-tablet.jpg);
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center center;
    }

    
   
    
    h1{
        text-align: center;
    }
    
    main{
        background-color: rgba(255, 255, 255, 0.678);
        width: 90vw;
        margin: auto;
        border-radius: 10px;
        padding: 10px;
    }
    
    img{
        display: block;
        margin: auto;
    }

    img#celular {display: none;}
    img#tv{display: none;}
    img#tablet{display: block;}
    img#pc{display: none;}

}

@media screen and (min-width:992px) and (max-width:1200px){

    body{
        background-image: url(back-pc.jpg);
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center center;
    }

    
   
    
    h1{
        text-align: center;
    }
    
    main{
        background-color: rgba(255, 255, 255, 0.678);
        width: 90vw;
        margin: auto;
        border-radius: 10px;
        padding: 10px;
    }
    
    img{
        display: block;
        margin: auto;
    }

    img#celular {display: none;}
    img#tv{display: none;}
    img#tablet{display: none;}
    img#pc{display: block;}


}

@media screen and (min-width:1200px){

    body{
        background-image: url(back-tv.jpg);
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center center;
    }

    
   
    
    h1{
        text-align: center;
    }
    
    main{
        background-color: rgba(255, 255, 255, 0.678);
        width: 90vw;
        margin: auto;
        border-radius: 10px;
        padding: 10px;
    }
    
    img{
        display: block;
        margin: auto;
    }

    img#celular {display: none;}
    img#tv{display: block}
    img#tablet{display: none;}
    img#pc{display: none;}


}

