@charset "UTF-8";

div.pai{

    background-color: aquamarine;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
     
    

}

div.filho{
    background-color: rgb(30, 151, 231);
    margin: 3px;
}